<h3>Article List</h3>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h4>Add New Article</h4>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <input
        type="text"
        class="form-control"
        placeholder="Name"
        [(ngModel)]="article.name"
      />
    </div>
    <div class="col">
      <input
        type="text"
        class="form-control"
        placeholder="Title"
        [(ngModel)]="article.title"
      />
    </div>
    <div class="col">
      <input
        type="text"
        class="form-control"
        placeholder="Link"
        [(ngModel)]="article.link"
      />
    </div>
    <div class="col">
      <input
        type="text"
        class="form-control"
        placeholder="Tag"
        [(ngModel)]="article.tags"
      />
    </div>
    <div class="col-auto">
      <button class="btn btn-success" (click)="save()">Insert</button>
    </div>
  </div>
</div>
<div class="container-fluid mt-2">
  <div class="row">
    <div class="col-auto">
      <input
        class="form-control"
        [(ngModel)]="searchText"
        (keyup)="search()"
        placeholder="Tag or name search"
      />
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Fav.</th>
            <th>
              Name
              <i
                [ngClass]="{
                  'fa-sort': sorting === 'none',
                  'fa-sort-up': sorting === 'asc',
                  'fa-sort-down': sorting === 'desc'
                }"
                class="fa sortable"
                (click)="nextSort()"
              ></i>
            </th>
            <th>Title</th>
            <th>Link</th>
            <th>Tags</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let article of articles">
            <td>
              <div class="form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  checked="{{ isFavourite(article) }}"
                  (change)="selected(article)"
                />
              </div>
            </td>
            <td>{{ article.name }}</td>
            <td>{{ article.title }}</td>
            <td>{{ article.link }}</td>
            <td>{{ article.tags }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
